* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  color: white;  
}

main {
  background-color: rgb(24, 23, 23);
  height: 100svh;
}

#unmute-button {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
}

#parallax-container {
  position: relative;
  height: 100svh;
  overflow: hidden;
  background-image: url(./src/images/background.jpg);
  background-size: cover;
  background-position: bottom;
}

#parallax-container div {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.center {
  width: 50%;
  padding: 20px;
  margin: auto;
  text-align: center;
}

.overlay-picture {
  width: 100%;
  height: 100%;
  z-index: 40;
  transition: filter 0.3s linear;
  background-image: url(./src/images/overlay.png);
  background-size: cover !important;
  filter: drop-shadow(0px 0px 6px rgb(255, 0, 208)) !important;
}

.inverse-picture {
  position: absolute;
  width: 0;
  height: 100svh;
  left: 50%;
  transform: translate(-50%, 0);
  filter: invert(1);

  box-shadow: inset 0 0 25px white;
  background-image: url(./src/images/background.jpg);
  background-size: cover !important;
  background-position: bottom;
}

.parallax-picture {
  filter: drop-shadow(0px 0px 2px rgb(255, 0, 208));
}